body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    
}



main#container {
   
    display: flex;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 32vh;
    vertical-align: middle;
}

iframe {
     position: absolute;
    display: flex;
    height: 472px;
    width: 268px;
   
    left: 50%;
    top: 50%;
    translate: -50% -49%;

}
nav {
    
    margin-bottom: 300px;
   margin-left: 90vw;
   
translate: -50% -49%;
}
img {
   width: 75px;
   border-radius: 100px;
   
   margin-bottom: 50px;
   
   display: flex;
   
}
img:hover{
    border: 3px solid white;
    
}
